<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="transportBean"
          class="dev.Moto"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getMoto">
    </bean>

    <bean id="humanWithTransportBean"
          class="dev.HumanWithTransport">
        <constructor-arg ref="transportBean"/>
        <property name="transport" ref="transportBean"/>
        <property name="stamina" value="75"/>
    </bean>

</beans>